@model IEnumerable<ContosoUniversity.ViewModels.EnrollmentDateGroup>
@{
    ViewBag.Title = "Student Body Statistics";
}

<h2>Student Body Statistics</h2>

<table>
    <tr>
        <th class="text-center col-md-6">
            @Html.DisplayNameFor(model => model.EnrollmentDate)
        </th>
        <th class="text-center col-md-6">
            @Html.DisplayNameFor(model => model.StudentCount)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="text-center col-md-6">
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td class="text-center col-md-6" >
                @item.StudentCount
            </td>
        </tr>
    }
</table>